/* // ***** MEDIA BREAKPOINTS ***** //
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px;  10px/16px = 62.5% */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #2168a4;
  background-repeat: no-repeat;
  background-size: cover;
}
body > img {
  opacity: 10%;
}

/* XLARGE BACKGROUND ICON */

.xlarge-icon__container {
  position: fixed;
  transform: translate(-20%, -10%);
  height: 100%;
  opacity: 10%;
}
.xlarge-icon__container > img {
  height: 105em;
  width: 105em;
  /* opacity: 10%; */
}

/* BUTTONS */
.flip-icon__icon {
  height: 1.6rem;
  width: 1.6rem;
}
.flip-icon__container {
  display: flex;
  justify-content: flex-end;
  margin: 8px 8px 0 0;
}
.flip-icon__btn {
  background: none;
  border: none;
  transition: all 0.2s;
}

.flip-icon__btn:hover {
  cursor: pointer;
  outline: none;
  transform: scale(1.1);
}
.flip-icon__btn:active,
.flip-icon__btn:focus {
  outline: none;
}

/* TYPOGRAPHY */
.med-text {
  font-weight: 100;
  font-size: 1.6rem;
}

/* SEARCH BAR */
.searchbar {
  margin: 1rem 2rem;
}
.searchbar__search-input {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  font-family: inherit;
  font-weight: 300;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}
.searchbar__search-input:focus {
  outline: none;
  border-bottom: 2px solid #666;
}
.searchbar__search-input::placeholder {
  color: #666;
}

/* ********** CONTAINER ********** */

.container {
  width: 32em;
  height: 49em;
  margin: 10% auto;
  overflow: hidden;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  perspective: 150rem;
  -moz-perspective: 150rem;
  background-color: transparent;
}
.container__side {
  transition: all 0.7s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}
.container__side--back {
  transform: rotateY(180deg);
}

/******** MEDIA QUERY - PHONE ********/
@media only screen and (max-width: 600px), only screen and (hover: none) {
  .flip-icon__container {
    margin: 2.5rem 2.5rem 0 0;
  }
  .flip-icon__btn {
    display: none;
    visibility: hidden;
  }
  .container {
    height: 97rem;
    background-color: transparent;
  }
  .container__side {
    position: relative;
  }
  .container--bg {
    height: 97rem;
  }
  .container__side--back {
    position: absolute;
    transform: rotateY(0deg);
    top: 49%;
    padding-bottom: 2rem;
  }
}
/* ********** CONTAINER FRONT ********** */

/* CONTAINER HEADER */
.container__header {
  margin: 1rem 2rem 3.2rem 2rem;
  line-height: 1.3;
}

.container__header--location {
  font-size: 2em;
  font-weight: 100;
  max-width: 30rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container__header--month {
  text-transform: uppercase;
}

/* CONTAINER MAIN */
.container__main {
  text-align: center;
}
.container__main--icon-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__main--icon > img {
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
}
.container__main--description {
  font-weight: 100;
  font-size: 3rem;
}
.container__main--degree {
  font-weight: 100;
  font-size: 10rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__main--degree-scale {
  font-size: 3rem;
  transition: all 0.2s;
}
.container__main--degree-scale:hover {
  cursor: pointer;
  outline: none;
  transform: scale(1.1);
}
.container__main--feelslike {
  margin-top: 1rem;
}

/* CONTAINER FOOTER */
.container__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 6rem 2rem 2rem 2rem;
}

/* ********* CONTAINER BACK ********* */
/* TITLE */
.row-title {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 0.5;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
.row-title__forecast {
  margin-top: 4rem;
}

.row-title span {
  display: inline-block;
  position: relative;
}
.row-title span::before,
.row-title span::after {
  content: '';
  position: absolute;
  height: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  top: 0;
  width: 7rem;
}
.row-title span::before {
  right: 100%;
  margin-right: 8px;
}
.row-title span::after {
  left: 100%;
  margin-left: 8px;
}

/* DAILY FORECAST */
.forecast-container {
  margin: 2rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forecast-container__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7px;
}

.forecast--day-container {
  text-align: center;
}
.forecast--day {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
.forecast--precip-container {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.forecast--precip-icon {
  height: 8px;
  width: 8px;
  margin-right: 1px;
}
.forecast--precip {
  font-size: 1rem;
  font-weight: 300;
}

.forecast--icon > img {
  height: 2.2rem;
  width: 2.2rem;
  margin: 5px 0;
}
.forecast--highlow {
  font-weight: 300;
  font-size: 1.1rem;
}

/* ********* FRONT & BACK ********* */

.highlow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.highlow-container__high {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 4px;
  margin-bottom: 3px;
}

.detail-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 2rem 0 2rem;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  height: 7.5rem;
  width: 7.5rem;
}
.detail-container:not(:last-child) {
  margin-right: 1rem;
}
.detail-container--icon {
  height: 2rem;
  width: 2rem;
}
.detail-container--title {
  font-size: 1rem;
  font-weight: 300;
  padding: 3px;
}
.detail-container--data {
  font-weight: 300;
  font-size: 1.2rem;
}

.attribute {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.attribute:last-child {
  padding-bottom: 10px;
}

.attribute--link {
  text-decoration: none;
}

.attribute--link:visited,
.attribute--link:active {
  color: inherit;
}
.attribute--link {
  text-decoration: none;
}
.attribute--link:hover {
  cursor: pointer;
  color: #2dc95f;
}

/* JS ROTATION */
.flipFront {
  transform: rotateY(180deg);
}
.flipBack {
  transform: rotateY(0);
}

/* BACKGROUNDS BASED ON WEATHER ICON */
/* //CLEAR DAY */
.clear-day {
  background-image: linear-gradient(to bottom, #0050a1, #9abaaf);
  padding-bottom: 15rem;
  height: 100%;
}

/* //CLEAR NIGHT */
.clear-night {
  background-image: linear-gradient(to top, #131f3a, #0a0c13);
  padding: 3px;
  height: 100%;
}

/* //CLOUDY */
.cloudy {
  background-image: linear-gradient(to top, #96a5ac, #2e373e);
  padding: 3px;
  height: 100%;
  background-size: contain;
}

/* //FOG */
.fog {
  background-image: linear-gradient(to top, #3a7e9b, #0e394b);
  padding: 3px;
  height: 100%;
}

/* //PARTLY CLOUDY DAY */
.partly-cloudy-day {
  background-image: linear-gradient(to bottom, #004e8c, #5d62a4);
  padding: 3px;
  height: 100%;
}

/* //PARTLY CLOUDY NIGHT */
.partly-cloudy-night {
  background-image: linear-gradient(to top, #262942, #0d1428);
  padding: 3px;
  height: 100%;
}

/* //RAIN */
.rain {
  background-image: linear-gradient(to top, #87719b, #333a63);
  padding: 3px;
  height: 100%;
}

/* //SNOW */
.snow {
  background-image: linear-gradient(to bottom, #6089ab, #97b2ca);
  padding: 3px;
  height: 100%;
}

/* //SLEET */
.sleet {
  background-image: linear-gradient(to bottom, #547782, #869ca2);
  padding: 3px;
  height: 100%;
}

/* //WIND */
.wind {
  background-image: linear-gradient(to top, #c9a7a7, #95606d);
  padding: 3px;
  height: 100%;
}
